/* 每个选择器前加上相应的类名 */

.input-container_0 {
    position: relative;
    left: 50px;
    text-indent: 500px;
}

.input-container_1 {
    position: relative;
    top: 1175px;
    margin: 0;
    padding: 0;
}

.background-image {
    background-image: url(./files_images/mod/solu.png);
    background-repeat: repeat-y;
    background-position: 0 0;
}

.bottom-left-text_1 {
    left: 15px;
    bottom: 5px;
    font-size: 25px;
}

.bottom-left-text_2 {
    position: fixed;
    bottom: -0;
    right: 0;
    padding: 0px;
    border: 0px solid #000000;
    pointer-events: none;
    z-index: -1;
}

.bottom-left-text_2 .subtitle {
    margin-bottom: 50px;
}

.bottom-left-text_2 img {
    max-width: 50%;
    max-height: 70px;
    margin-left: 100px;
    margin-bottom: 5px;
    opacity: .9;
}

.bottom-left-text_3 {
    pointer-events: none;
    position: fixed;
    bottom: 60;
    right: 75;
    padding: 0px;
    border: 0px solid #000000;
    margin: 0;
    width: 80px;
    z-index: -1;
}

.bottom-left-text_4 {
    pointer-events: none;
    position: fixed;
    bottom: 60;
    right: 75;
    padding: 0px;
    border: 0px solid #000000;
    margin: 0;
    width: 80px;
    z-index: -1;
}

.bottom-left-text_5 {
    text-align: center;
    font-size: 24px;
}

.fixed-image {
    position: fixed;
    top: 50px;
    left: 50px;
    margin-left: 125px;
}
